.about-content {
  background-color: rgba(0, 0, 0, 0.85);
  width: 60%;
  height: 500px;
  margin: 0 75px 0 0;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-text {
  color: #98090D;
  font-size: 18px;
}

.tagline {
  color: white;
  font-size: 22px;
  margin: 30px 0 50px;
}

.h4 {
  padding: 10px 100px;
  color: white;
  line-height: 1.5;
  font-size: 18px;
}